<h1>Invetory Management App</h1>

<h3>Your Current Goods</h3>
<ul>
  <% @goods.each do |good| %>
    <li>
      <%= link_to good.name, good_path(good) %>
    </li>
  <% end %>
</ul>

<h3>Did you buy something? Let's <%= link_to "Register", new_good_path %>!</h3>
